# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
Data/Raw/
Data/Interim/
Data/Processed/

# Outputs
Outputs/Logs/
Outputs/Models/
Outputs/Metrics/

# VS Code
.vscode/

# Ignore pickle & model files
*.pkl
*.pickle
*.joblib
*.sav
*.pt
*.h5
*.model
*.csv

# Exception: Streamlit deployment model (2.5MB, safe for GitHub)
!model.pkl
!feature_meta.json